/* Sistema de Grid */
	
	/* mobile primeiro */
	/* qualquer device menor que celular | col-xs-# */

	.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xl-1{ 
    	width: 100%; 
    }
    .col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xl-2{ 
    	width: 100%; 
    }
    .col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xl-3{ 
    	width: 100%;    
    }
    .col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xl-4{ 
    	width: 100%; 
    }
    .col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xl-5{ 
    	width: 100%; 
    }
    .col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xl-6{ 
    	width: 100%;   
    }
    .col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xl-7{ 
    	width: 100%;
    }
    .col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xl-8{ 
    	width: 100%; 
    }
    .col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xl-9{ 
    	width: 100%;    
    }
    .col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xl-10{ 
    	width: 100%; 
    }
    .col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xl-11{ 
    	width: 100%; 
    }
    .col-xs-12,.col-sm-12,.col-md-12,.col-lg-12,.col-xl-12{ 
    	width: 100%;   
	}

	/* celular | col-sm-# */

	@media (min-width: 544px) {
		.col-sm-1{ 
	    	width: 8.33%; 
	    }
	    .col-sm-2{ 
	    	width: 16.66%; 
	    }
	    .col-sm-3{ 
	    	width: 25%;    
	    }
	    .col-sm-4{ 
	    	width: 33.33%; 
	    }
	    .col-sm-5{ 
	    	width: 41.66%; 
	    }
	    .col-sm-6{ 
	    	width: 50%;   
	    }
	    .col-sm-7{ 
	    	width: 58.33%; 
	    }
	    .col-sm-8{	
	    	width: 66.66%; 
	    }
	    .col-sm-9{	
	    	width: 75%;    
	    }
	    .col-sm-10{ 
	    	width: 83.33%; 
	    }
	    .col-sm-11{ 
	    	width: 91.66%; 
	    }
	    .col-sm-12{ 
	    	width: 100%;   
		}
	}

	/* tablet | col-md-# */
	@media (min-width: 768px) {
		.col-md-1{ 
	    	width: 8.33%; 
	    }
	    .col-md-2{ 
	    	width: 16.66%; 
	    }
	    .col-md-3{ 
	    	width: 25%;    
	    }
	    .col-md-4{ 
	    	width: 33.33%; 
	    }
	    .col-md-5{ 
	    	width: 41.66%; 
	    }
	    .col-md-6{ 
	    	width: 50%;   
	    }
	    .col-md-7{ 
	    	width: 58.33%; 
	    }
	    .col-md-8{	
	    	width: 66.66%; 
	    }
	    .col-md-9{	
	    	width: 75%;    
	    }
	    .col-md-10{ 
	    	width: 83.33%; 
	    }
	    .col-md-11{ 
	    	width: 91.66%; 
	    }
	    .col-md-12{ 
	    	width: 100%;   
		}
	}

	/* desktop | col-lg-# */
	@media (min-width: 992px) {
		.col-lg-1{ 
	    	width: 8.33%; 
	    }
	    .col-lg-2{ 
	    	width: 16.66%; 
	    }
	    .col-lg-3{ 
	    	width: 25%;    
	    }
	    .col-lg-4{ 
	    	width: 33.33%; 
	    }
	    .col-lg-5{ 
	    	width: 41.66%; 
	    }
	    .col-lg-6{ 
	    	width: 50%;   
	    }
	    .col-lg-7{ 
	    	width: 58.33%; 
	    }
	    .col-lg-8{	
	    	width: 66.66%; 
	    }
	    .col-lg-9{	
	    	width: 75%;    
	    }
	    .col-lg-10{ 
	    	width: 83.33%; 
	    }
	    .col-lg-11{ 
	    	width: 91.66%; 
	    }
	    .col-lg-12{ 
	    	width: 100%;   
		}
	}

	/* monitor grande */

	@media (min-width: 1200px) {
		.col-xl-1{ 
	    	width: 8.33%; 
	    }
	    .col-xl-2{ 
	    	width: 16.66%; 
	    }
	    .col-xl-3{ 
	    	width: 25%;    
	    }
	    .col-xl-4{ 
	    	width: 33.33%; 
	    }
	    .col-xl-5{ 
	    	width: 41.66%; 
	    }
	    .col-xl-6{ 
	    	width: 50%;   
	    }
	    .col-xl-7{ 
	    	width: 58.33%; 
	    }
	    .col-xl-8{	
	    	width: 66.66%; 
	    }
	    .col-xl-9{	
	    	width: 75%;    
	    }
	    .col-xl-10{ 
	    	width: 83.33%; 
	    }
	    .col-xl-11{ 
	    	width: 91.66%; 
	    }
	    .col-xl-12{ 
	    	width: 100%;   
		}
	}


/* Fim Sistema Grid */


@media (min-width: 768px) {
	.text-position{
		text-align: right!important;
	}
}

@media (max-width: 1170px) {
	#container{
		padding:20px 10px;
	}
}
