/* Sistema de Grid */

 	.grid-container *{
        box-sizing: border-box; 
    }
   	.grid-container{
        width: 100%; 
        max-width: 1150px;
        margin:0 auto;   
    }
   	.grid-container.fluid{
        max-width: none;
    }
    .row:before, .row:after {
        content:"";
        display: table ;
        clear:both;
    }
    [class*='col-'] {
        float: left; 
        min-height: 1px;
        padding:5px;
    }

    /* Sistema de Grid depende do arquivo 'media-query.css' para responsividade */


/* Fim Sistema de Grid */

#container{
	font-size:13px;
	font-family: 'roboto',sans-serif;
	width:100%;
	background-color:#fafafa;
	min-height:100vh;
	box-sizing: border-box;
}
.grid-container span.grid{
	background:#cacaca;
	width:100%;
	height:60px;
	line-height:60px;
	display:block;
	text-align:center;
	color:#fff;
	border-radius: 5px;
}
p.box-layout{
	background:#fff;
	display: block;
	box-sizing: border-box;
	padding: 15px 15px;
	color:#5c5c5c;
	height: 85px;
	/* box shadow */
		bkit-box-shadow: 2px 2px 2px #dadada;
		box-shadow: 2px 2px 2px #dadada;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dadada')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dadada');
}
div.box-layout{
	background:#fff;
	display: block;
	box-sizing: border-box;
	padding-bottom: 10px;
	color:#5c5c5c;
	
	/* box shadow */
		bkit-box-shadow: 2px 2px 2px #dadada;
		box-shadow: 2px 2px 2px #dadada;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dadada')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dadada');
}
.box-layout span.bigger{
	font-size:1.45em;
	text-align: center;
	color:#383838;	
	display: block;
	padding: 15px 0 10px 0;

}
.box-layout span.red-left{
	color:#de323e;
	padding:0;
	font-size: 2em;
	float: left;
	margin:0 10px 0 0;
	height:55px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}
.text-box-right{
	height:55px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}
.hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	left:-9999px;
}
.logo{
	width:150px;
}
.logo img{
	width:150px;
	height: 45px;
}
.logo a{
	display: block;
	height: 65px;
	width:100%;
	padding: 10px 0;
}
.box-title{
	background:#f2f0f1;
	height:50px;
	line-height: 50px;
	padding:0px 15px;
	font-weight: 700;
}
.no-padding{
	padding: 0;
	display: block;
}
.outside{
	float:right;
	border-left: 1px solid #e4e3e3;
	height:40px;
	padding: 0px 30px 0px 20px;
	margin:5px -15px 0 0;
	text-align: 40px;
	background:url("../img/external-link-symbol.png") center center no-repeat;
	display:block;
	text-indent: -9999px;

}
.text-position{
	text-align: center;
	color:#ccc;
	margin-top: 10px;
}
.fluid-table table{
	width:100%;
}
.fluid-table table thead{
	text-align: left;
	font-weight: 700;
}
.fluid-table table thead th{
	padding: 12px 0;
}
.fluid-table table tbody tr{
	border-bottom: 1px solid #eee;
}
.fluid-table table tbody td{
	padding: 12px 0;
}
.fluid-table table tbody tr:last-child{
	border-bottom: none;
}
.box-padding{
	padding: 15px;
	display: inline-block;
	width: 100%;
}
.size-300{
	height: 235px;
	overflow-y: auto;
}
#chart_div{
	overflow: hidden;
}
#chart_div_first{
	overflow: hidden;	
}
.links-loja{

}
.mensagem{
	text-align: center;
	font-style: italic;
	display: block;
	width: 100%;
	padding-top: 40px;
}
.no-table{
	display: none;
}
#links-loja{
	text-align: justify;
	display: inline-block;
	width: 100%;
    display: flex;
    justify-content: space-between;
}
#links-loja a{
	color:#626060;
	text-decoration: none;
	border-bottom: 2px solid #f2f0f1;    
	padding:0 0 16px 0;
	text-transform: capitalize;
}
#links-loja a:hover {
	color:#17b7f6;
}
#links-loja a.active{
	color:#17b7f6;
	border-color:#17b7f6;
}
.no-border{
	border:0!important;
}
object{
	display: none;
}